<h1 style="text-align:left"><%= @server_rack.name %></h1>
<h2 style="text-align:left"><%= @server_rack.datacenter.name %></h2>
<h3 style="text-align:left">Servers:</h2>

<table class="table">
	<tr>
		<th>Physical</th>
		<th>Children</th>
		<th>Environment</th>
		<th>Model</th>
		<th>Height</th>
		<th>Heat Dissipation(btu/hr)</th>
		<th>Power(Watts)</th>
		<th>Power sockets</th>
	</tr>
	<% @server_rack.server.sort_by(&:name).each do |server| %>
		<% unless server.parent_id %>
		<tr>
			<td>
				<%= link_to server.name, controller: "servers", action: "show", id: server.id %>
			</td>
			<td></td>
			<td>
				<%= server.environment %>
			</td>
			<td><%= server.server_model.name %></td>
			<td><%= server.server_model.uheight %></td>
			<td><%= server.server_model.heat_dissipation %></td>
			<td><%= server.server_model.power %></td>
			<td><%= server.server_model.power_sockets %></td>
			<td></td>
		</tr>
		<% end %>
		<% if server.children? %><% server.child.each do |child| %>
		<tr>
			<td></td>
			<td>			
				<%= link_to child.name, controller: "servers", action: "show", id: child.id %>
			</td>
			<td>
				<%= server.environment %>
			</td>
		</tr>
		<% end %>
	<% end %>

	<% end %>

</table>
