<div class="row">
	<div class="span8">
		<h1 style="text-align:left"><%= @server.name %></h1>
			<% if @server.decommissioned %>
				</br><h1>DECOMMISSIONED</h1>
			<% end %>
			<% if @server.powered_off %>
				</br>POWERED OFF
				</br><%= @server.powered_off_date %>
			<% end %>
		
	</div>
	<div style="text-align:left" class="span2">
		<% if signed_in? %>
			<% if current_user.admin? %>
				<h5><%= link_to "Edit", action: :edit %></h5>
				<% unless @server.powered_off? %>
					<h5><%= link_to "Power off", action: :power_off %></h4>
				<% else %>
					<h5><%= link_to "Power on", action: :power_on %></h4>
        	    <% end %>
        	    <h5>Relocate</h5>
        	    <% unless @server.decommissioned? %>
        	    	<h5><%= link_to "Decommission", action: :decommission %></h5>
        	    <% end %>
			<% end %>
		<% end %>
    </div>
		
	<div style="text-align:right" class="span2">
		<% if signed_in? %>
			<h5><%= link_to "New Server", action: :new %></h5>
			<h5><%= link_to "Clone", action: :clone %></h5>
		<% end %>
	</div>
</div>

<div class="row">
	<div class="span2">
		<h3><%= link_to @server.project.name, controller: "projects", action: "show", id: @server.project_id %></h3>
	</div>
</div>
<div class="row">
	<div class="span4">
		<h3><%= @server.environment %></h3>
	</div>
	<div class="span7">
		<h3><%= @server.usage %></h3>
	</div>
</div>
	
<div class="row">
	<div class="span7">
		<table style="font-size:1.4em" class="table">
			<tr>
				<td>Model:</td>
				<td>
					<%= link_to @server.server_model.name, 
						controller: "server_models", 
						action: "show", 
						id: @server.server_model_id %>
				</td>
			</tr>
			<tr>
				<td>Serial:</td>
				<td><%= @server.serial %></td>
			</tr>
			<tr>
				<td>OS:</td>
				<td><%= @server.operating_system %></td>
			</tr>
			<tr>
				<td>#cpus:</td>
				<td><%= @server.cpu_number %></td>
			</tr>
			<tr>
				<td>cpu type:</td>
				<td><%= @server.cpu_type %></td>
			</tr>
			<tr>
				<td>Host Memory GB:</td>
				<td><%= @server.ram %></td>
			</tr>
					
		</table>	
	</div>
	<div class="span5">
		<table style="font-size:1.4em" class="table">
			<tr>
				<td>Datacenter:</td>
				<td><%= @server.datacenter.name %></td>
			</tr>
			<tr>
				<td>Rack:</td>
				<td>
					<%= link_to @server.server_rack.name, 
						controller: "server_racks", 
						action: "show", 
						id: @server.server_rack_id %>
				</td>
			</tr>
			<tr>
				<td>
					Console:
				</td>
				<td>
					<%= @server.oob_address %>
				</td>
			</tr>
		</table>
	</div>
</div>

<div class="row">
	<div class="span6">
		<% if @server.parent_id %>
			Child of <%= link_to @server.parent.name, action: "show", id: @server.parent_id %></br></br>
		<% end %>

		<% if @server.children? %>
			<strong><%= pluralize(@server.child.count,'Child') %>:</strong></br>
			<table class="table">
				<% @server.child.where(decommissioned: false).sort_by(&:name).each do |child| %>
				<tr>
					<td><%= link_to child.name, action: "show", id: child.id %></td>
					<td><%= link_to child.project.name, controller: "projects", action: "show", id: child.project_id %></td>
					<td><%= child.usage %></td>
				</tr>
				<% end %>
			</table>
		<% end %>
	</div>
</div>

<%
# Boilerplate
%>


<div class="row">
	<div class="span6 offset3">
		<table class="table table-bordered">
			<tr>
				<td>Modified:</td>
				<td><% if @server.editor  %><%= @server.editor.name %><% end %></td>
				<td><%= @server.updated_at %></td>
			</tr>
			<tr>
				<td>Created:</td>
				<td><%= @server.creator.name %></td>
				<td><%= @server.created_at %></td>
			</tr>
		</table>
	</div>
</div>

