<% provide(:title, 'Edit Model') %>
<div class="row">
  <div class="span6 offset1">
    <%= simple_form_for(@server_model, html: { class: "form-horizontal"}) do |f| %>
      <%= render 'shared/server_model_error_messages' %>
      <%= f.input :name %>
      <%= f.input :manufacturer %>
	  <%= f.input :uheight, label: "Height (U)", as: :string %>
      <%= f.input :power, label: "Power (W)", as: :string %>
      <%= f.input :power_sockets, as: :string %> 
      <%= f.input :heat_dissipation, label: "Heat Dissipation BTU/hr", as: :string %>   
      <%= f.submit "Submit", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
