<% provide(:title, 'All Models') %>
<h1>All Models</h1>
<% if current_user.admin? %>
<%= button_to('Add Model', new_server_model_path, :class => "btn" )%>
<% end %>

<%= will_paginate %>

<table class="table table-striped">
  <tr>
  	<th>Model</th>
  	<th>#Servers</th>
  	<th>Height (U)</th>
  	<th>Power</th>
  	<th>Power Socket</th>
  	<th>Heat Dissipation BTU/hr</th>
  	<% if current_user.admin? %><th>Actions</th><% end %>
  </tr>
  <%= render @server_models %>
</table>

<%= will_paginate %>

<br>
<% if current_user.admin? %>
<%= button_to('Add Model', new_project_path, :class => "btn" )%>
<% end %>
