<h1><%= @server_model.name %></h1>

<div class="row">
	<div class="span6">		
		<table class="table">
			<tr>
				<td>Manufacturer</td>
				<td><%= @server_model.manufacturer %></td>
			</tr>
			<tr><td>Height</td><td><%= @server_model.uheight %></td></tr>
			<tr><td>Power (Watts)</td><td><%= @server_model.power %></td></tr>
			<tr><td>Power Sockets</td><td><%= @server_model.power_sockets %></td></tr>
			<tr><td>Heat Dissipation (BTU/hr)</td><td><%= @server_model.heat_dissipation %></td></tr>
		</table>
	</div>
</div>

<% if @server_model.servers? %>
<div class="row">
  <table class="table table-striped">
  <tr>
  	<th>Name</th>
  	<th>Site</th>
  	<th>Rack</th>
  	<th>Environment</th>
  	<th>Project</th>
  	<th>Usage</th>
  	<% if signed_in? && current_user.admin? %><th>Actions</th><% end %>
  </tr>
  
  <% @server_model.server.sort_by(&:name).each do | server | %>
	<td><%= link_to server.name, controller: "servers", action: "show", id: server.id %></td>
	<td><%= server.datacenter.name %></td>
	<td><%= link_to server.server_rack.name, controller: "server_racks", action: "show", id: server.server_rack_id %></td>
  	<td><%= server.environment %></td>
  	<td><%= link_to server.project.name, controller: "projects", action: "show", id: server.project_id %></td>
  	<td><%= server.usage %></td>
  	<% if signed_in? && current_user.admin? %>
  		<td><%= link_to "Edit", controller: "servers", action: :edit, id: server.id %></td>
    <% end %>

</tr>
  <% end %>
  
</table>
</div>
<% end %>
